---
layout: archive
---

{{ content }}

<!--
The below is a popup added by Steef3 using Magnific Popup
-->
  <a class="warning-popup" href="#warning">Click here to make the warning come up again!</a>
    <div id="warning" class="mfp-hide white-popup-block" style="background-color:#FF0000">
    <h1>! WARNING !</h1>
      <p>Scanning this QR code could have infected your phone with a virus!<br>
       Only click on links of emails you trust and only scan QR codes of caps you trust!<br>
       <br>
       #cybersecurity #awareness #bevigilant #staysafe #havefun</p>
    <p><a class="warning-dismiss" href="#">Ok ok I got it... No more just scanning and clicking stuff!</a></p>
  </div>

<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->
